/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  background-color: rgb(46, 46, 46);
  margin: 0 auto;
}
.header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
.header ul li {
  margin: 8px;
  color: white;
}
.header ul li a {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.content {
  background: radial-gradient(circle, #c3cfc1 10%, white 10%) repeat center/10px 10px;
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
}
.content .wrap {
  padding: 12px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.content .wrap .workCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 320px;
  color: rgb(46, 46, 46);
  border: solid 1px rgb(46, 46, 46);
  margin: 12px;
}
.content .wrap .workCard img {
  border-radius: 8px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .wrap .workCard h3 {
  padding: 4px;
  font-size: 24px;
  margin: 8px 0;
}
.content .wrap .workCard p {
  padding: 4px;
  font-size: 16px;
  margin-bottom: 12px;
}
.content .wrap .workCard button {
  border: none;
  background-color: rgb(46, 46, 46);
  color: #fff;
  padding: 4px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.content .wrap .workCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  transition: transform 0.3s ease;
  border: solid 1px #939c92;
}
.content .wrap .workCard:hover button {
  background-color: #c3cfc1;
  color: white;
}
.content .wrap .workCard:active {
  box-shadow: 0 1px 2px rgb(46, 46, 46);
}
.content .wrap .workCard:active button {
  background-color: #939c92;
}

.footer {
  height: 32px;
  background-color: gray;
  text-align: center;
}/*# sourceMappingURL=style.css.map */